<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="keywords"
			content="pidbid,PIDBID,Python,Python微服务"
		/>
		<meta
			name="description"
			content="Pidbid 一个用Python编写的微服务应用"
		/>
		<link rel="icon" href="/static/favicon.ico" />
		<title>Pidbid-属于Python开发者的轻应用</title>
		<script type="module" crossorigin src="/static/index.a7e66921.js"></script>
		<link rel="modulepreload" crossorigin href="/static/vue.2fa98121.js">
		<link rel="modulepreload" crossorigin href="/static/index.a9b756de.js">
		<link rel="modulepreload" crossorigin href="/static/preload-helper.101896b7.js">
		<link rel="modulepreload" crossorigin href="/static/storage.542a95ff.js">
		<link rel="modulepreload" crossorigin href="/static/tagsViewRoutes.9553160b.js">
		<link rel="modulepreload" crossorigin href="/static/themeConfig.d1e9143e.js">
		<link rel="modulepreload" crossorigin href="/static/index.8901bb4c.js">
		<link rel="modulepreload" crossorigin href="/static/_commonjsHelpers.48992372.js">
		<link rel="modulepreload" crossorigin href="/static/keepAliveNames.b0407c3b.js">
		<link rel="modulepreload" crossorigin href="/static/routesList.d06143f7.js">
		<link rel="modulepreload" crossorigin href="/static/userInfo.79f4e961.js">
		<link rel="modulepreload" crossorigin href="/static/loading.feb74a4a.js">
		<link rel="modulepreload" crossorigin href="/static/index.d83bf2e6.js">
		<link rel="modulepreload" crossorigin href="/static/index.61bdf2ac.js">
		<link rel="modulepreload" crossorigin href="/static/toolsValidate.e1c6b468.js">
		<link rel="modulepreload" crossorigin href="/static/other.76164931.js">
		<link rel="modulepreload" crossorigin href="/static/mitt.7f99bbc0.js">
		<link rel="modulepreload" crossorigin href="/static/arrayOperation.b573dead.js">
		<link rel="stylesheet" href="/static/loading.70fbfd85.css">
		<link rel="stylesheet" href="/static/index.8b89e2e0.css">
		<link rel="stylesheet" href="/static/index.b0d5231d.css">
	</head>
	<body>
		<div id="app"></div>
		
	</body>
</html>
